{% extends 'layout.html' %} {% block style %}
<style>
#main {
    padding: 50px 60px;
}
#info {
	background-color: #f2f2f2;
	text-align: center;
	padding: 30px 40px;
}
#info img {
	width: 60px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
#content>div {
	background-color: #f2f2f2;
	padding: 30px 40px;
	margin-bottom: 20px;
}
#content h4 {
	margin-top: 0;
	margin-bottom: 20px;
}
#content button {
	display: inline-block;
    padding: 6px 12px;
    border: 1px solid #252732;
    outline: none;
    margin: 5px 15px 10px 0;
    color: #252732;
    background-color: #f2f2f2;
    border-radius: 2px;
}
#content button:hover {
	background-color: #252732;
	color: #fff;
}
#plot1 {
	width: 100%;
	height: 300px;
}
</style>
{% endblock %} {% block body %}
<div class="row">
	<div class="col-xs-12 cold-sm-12 col-md-3 col-lg-3">
		<div id="info">
			<img src="{{data['avatar']}}" alt="">
			<h4>{{data['username']}}</h4>
			<p style="color:#888;font-size:12px;margin-top:15px;margin-bottom:10px;">上次登陆时间</p>
			<p style="color:#252732;margin-bottom:0;">{{data['last_login']}}</p>
		</div>
	</div>
	<div class="col-xs-12 cold-sm-12 col-md-9 col-lg-9">
		<div id="content">
			<div style="position:relative">
				<h4 style="position:absolute;left:40px;top:30px;">累计转发群聊消息<span style="color:rgb(185, 78, 73);margin-left:8px;margin-right:8px;">{{data_html['total']}}</span>条</h4>
				<div id="plot1"></div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	var data_js = eval({{data_js | safe}});
    console.log(data_js);

	var plot1 = echarts.init(document.getElementById('plot1'));
    var option1 = {
        legend: {
            data: data_js['plot1']['legend'],
            top: 20,
            right: 40
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            },
        },
        grid: {
            left: 80,
            right: 30,
            top: 65,
            bottom: 40
        },
        xAxis: {
            type: 'category',
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12,
                show: true,
            },
            data: data_js['plot1']['xAxis']
        },
        yAxis: {
            type: 'value',
            scale: true,
            splitNumber: 3,
            splitLine: {
                show: true,
            },
            axisLine: {
                show: false,
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                margin: 12
            }
        },
        series: data_js['plot1']['data']
    };
    plot1.setOption(option1);
});
</script>
{% endblock %}